# -----------------------------
# Environment & Secrets
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

.venv/
.venv312/
venv/
env/
ENV/